body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: #fff;
}

/* collage html*/

.logo {
	width: 200px;
}

.imgCollage {
	margin: 1em;
	padding: 1em;
}

.containerImageGral {
	height: 580px;

}

.title {
	color: #000000a4;
	letter-spacing: 0.9px;
	font-size: 16px;
}

.indication {
	margin-top: 40%;
}

.ContImgGral {
	border: 1px solid salmon;
	height: 290px;
}

#div1 img {
	margin-bottom: 2em;
	padding: 1em;
}

/* index html*/

.container-flex-row {
	display: flex;
	justify-content: space-between;

}

.container-flex-column {
  display: flex;
	flex-direction:column;
  justify-content: center;
	padding: 2em;
}

.vh100 {
	height: 100vh;
}

.contBody {
  background: linear-gradient( #16a7b1 25%, rgb(37, 31, 31));
}

input {
	width: 100%;
}

.test5 {
	margin-left: 40%;
}

.positionLabel {
	width: 20%;
	margin-left: 35%;
}
